body {
	font-family: Muli,Helvetica,Arial,sans-serif;
    color: #000;
}

a:visited, a:active, a:hover {
    color: #000;
}

#playlist-container-title {
	margin: 10px 20px;
    border-left-style: solid;
    border-left-width: 4px;
    padding: 0px 5px;
    border-left-color: red;
}
.guest-intro {
	max-width: 400px;
	padding: 5px 20px;
}
.guest-pic {
	width: 180px;
	}
.about {
	    padding: 5px 20px;
    font-size: 1.125rem;
    line-height: 1.75rem;
}
